.photo
{
border: 2px solid blue;
display: block;
width: 40%;
margin: auto;

}
h1{
    color:blue;
text-align: center;
text-decoration: underline;}


div{
    margin: 4px;
}
h2{
    color: gray;
    font-size: 25px;
}

div.tan2
{
    font-size: 20px;
    color: gray
    

}
a{
    display: inline;
    font-size: 20px;
}
